<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ENTER_HASH" value="2213b4f54459585ccd56e7a7378539e9c65bfb5b2127224b2a0b1bef2f68195f6c96e8ec414ac0b803c160ac0718e61403738be640210b84403795f38ef54744"/>
      <add key="DAYS_WARNING" value="90"/>
      <add key="FILENAME" value="XlfTUVdEagNmrpR15GrM.dat"/>
    </appSettings>
</configuration>